doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header

            nav
                ul
                    li
                        a(href="/videos") Videos
                    li
                        a(href="/videos/search") Search
                    li
                        a(href="/about") About
                    li
                        a(href="/contact") Contact
                    if loggedIn
                        li
                            a(href="/videos/upload") Upload
                        li
                            a(href=`/users/${user._id}`) #{user.name}'s Profile
                        li
                            a(href="/users/profile/edit") Edit Profile
                        li
                            a(href="/auth/logout") Logout
                    else      
                        li
                            a(href="/auth/join") Join
                        li
                            a(href="/auth/login") Login
        main
            block content
            block scripts
    include partials/footer
