extends base.pug

block content
    form(method="POST")
        input(placeholder="Username", type="text", name="username", required)
        input(placeholder="Password", type="password", name="password", required)
        input(placeholder="Confirm Password", type="password", name="password2", required)
        input(type="submit", value="Join")
        br
        a(href="login") Login &rarr;
        br
        a(href="/")  Home &rarr;

