extends base.pug

block content
    h2 Welcome here you will see the trending videos
    form(method="POST")
        input(placeholder="Username", type="text", name="username", required)
        input(placeholder="Password", type="password", name="password", required)
        input(type="submit", value="Login")
        br
        a(href="/auth/join") Join &rarr;
