header
    a(href="/").header__logo
        i.fab.fa-youtube
        nav
            ul
                li
                    a(href="/videos") Videos
                
                li
                    a(href="/videos/search") Search
                        i.fas.fa-search
                li
                    a(href="/contact") Contact
                        i.fas.fa-envelope
                if loggedIn
                    li
                        a(href="/videos/upload") Upload
                            i.fas.fa-upload
                    li
                        a(href=`/users/${user._id}`) #{user.name}'s Profile
                            i.fas.fa-user
                    li
                        a(href="/users/profile/edit") Edit Profile
                            i.fas.fa-user-edit
                    li
                        a(href="/auth/logout") Logout
                            i.fas.fa-sign-out-alt
                else      
                    li
                        a(href="/auth/join") Join
                            i.fas.fa-user-plus
                    li
                        a(href="/auth/login") Login
                            i.fas.fa-sign-in-alt